 *{
    background-color: #243f1b67;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: url(/img/icn-curs.ico), pointer;

}
body {
    font-family: Arial, sans-serif;
}
.connexion{
    text-decoration: none;
}
#login-btn {
    display: block;
    position: relative;
    background-color: #267631;
    box-shadow: 0px 2px 16px rgba(168, 255, 151, 0.864);
    color: white;
    font-size: 16px;
    border: solid #fffb0030;
    border-radius: 20px;
    padding: 15px 20px;
    text-align: left;
    margin: 70px 10px 5px auto;
    cursor: pointer;
    top: -50px;
    right: 20px;
    transition:
    transform 0.15s ease-out, 
    color 0.95s ease-out,
    background-color 0.15s ease-out;
}
        #login-btn:hover {
            background-color: #45a049;
            box-shadow: 0px 2px 25px rgba(168, 255, 151, 0.733);
            color: #ffffff;
        }
.banner-container {
    background-image: url('./img/bannerTennisclub361.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.banner-content{
    height: 300px;
    width: 100%;
    color: #00000000;
}
.banner {
    background-image: url('./img/SBTennis_banner.png');
    background-size: contain;
    height: 235px;
    margin-top: -128px;
    width: 64rem;
    background-repeat: no-repeat;
}
.sidebar {
    position: relative;
    background-color: #c07300;
    text-align: center;
    padding: 0px 0px;
    padding: -10px;
    justify-content: center;
    font-size: 191px;
    height: 65px;
    width: 100%;
    max-width: 100%;
    border: #000 solid;
    border-width: 3px 0px 3px 0px;
    line-height: -44px;
    margin-top: 47px;
  }
  .sidebar-btn {
    position: relative;
    background-color: #c07300;
    color: #000000;
    margin: 0px 1px;
    border: solid #ffd70000;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    top: 0px;
  }
nav ul{
    height: 0px;
    color: #ebff00;
    top: -142px;
}

nav li {
    display: inline flow-root list-item;
    margin-right: 50px;
    font-size: 25px;
    position: relative;
    top: -138px;
} 

nav a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
    position: absolute;
    background-color: #796dff;
    height: 1300px;
    width: 100%;
    max-width: 100%;
    top: 355px;
}
.button {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
    margin-top: -355px;
}

p {
    font-size: 1.2em;
}

.texte-news{
  display: flex;
  margin-right: 50px;
  font-size: 25px;
}       
.hero {
    background-image: url('./img/Bg_header0001.jpg');
    background-size: contain;
    position: relative;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    margin: -7px;
    padding: 401px;
    max-height: 248px;
    height: 0px;
    max-width: 30%;
    text-align: center;
    bottom: 0px;
}
.hero-button {
    display: inline-block;
    position: relative;
    background-color: #368330;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 16px;
    bottom: -23px;
}
.who-is-us{
    height: 50px;
    width: 577px;
    position: relative;
    display: block;
    right: 386px;
    top: 62px;
}
.news {
    margin-top: 30px;
}
.img-news1{
    height: 251px;
    width: 577px;
    position: relative;
    display: block;
    right: -4px;
    top: 0px;
}
article {
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
}

footer {
    position: absolute;
    display: flex;
    background-color: #111a36;
    color: #060a16;
    text-align: center;
    height: 500px;
    width: 100%;
    padding: 10px;
    top: 1722px;
}

.PartenaireOfficiel {
    background: #ffffff;
    padding: 48px 0;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    justify-content: center;
    margin: -10px;
}
    .title-Partenaire{
        margin-right: 0%;
        color: #111a36;
        display: flex;
        position: relative;
        font-weight: bold;
        font-size: 19px;
    }
    .container-main{
        margin-right: 0%;
        color: #111a36;
        display: flex;
        position: relative;
        font-weight: bold;
        font-size: 19px;
    }

.FollowUs{
    background: #060a16;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .follow-title{
        color:  #ebff00;
    }

.juridique{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .juridique-title{
        color:  #ebff00;
    }

.OthersWebSite{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
}
.OthersWebSite-title{
    color:  #ebff00;
}

img{
    display: flex;
    position: relative;
    height: 120px;
    width: 120px;
    max-height: 120px;
    max-width: 120px;
}

nav ul, li {
    color:  #ebff00;
}

container-Juridique{
    color:  #ebff00;
}









/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ *
*{
  box-sizing: border-box;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
font-family: "Roboto","Arial",sans-serif;
  color: #000;
  line-height: normal;
}

#backtotop {
    background: url(./img/backtotop.png) no-repeat center center;
    border: 0;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 70px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 70px;
    z-index: 1;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #le_bouton {
    position: fixed;
    top: 00px;
    left: 30px;
 }

 /*   >>>>>>>>>>>>>>>>>>> Connexion page <<<<<<<<<<<<<  *

 .user-panel{
    height: 600px;
    width: 1400px;
    color: #ffffff;
    background-color: #304736;
    margin-right: 20px;
 }
 .news{
    height: 50px;
    width: 1400px;
    background-color: #304736;
 }
 .login-form{
    position: relative;
    height: 50px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px;
 }
 .user-content{
    position: relative;
    height: 200px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px; 
 }
 section .login-form {
    height: 50px;
    width: 1400px;
    color: #ffffff;
    background-color: yellowgreen;
 }  */