body {
    font-family: Arial, sans-serif;
    color: #45a049;
}

header {
    background-color: #333;
    color: #fff;
    background-image: url('./img/SBTennis_banner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: -19px;
    padding: 77px 0px 42px 0px;
    max-height: 150px;
    height: 100px;
    text-align: center;
  }

nav ul {
    list-style: none;
    list-style-image: none;
    padding: 17px;
    justify-content: center;
    background-color: #c07300;
    font-size: 55px;
    height: 25px;
    width: 100%;
    border: #8b1919;
    line-height: 3px;
    text-align: center;
    margin-top: 24px;
}

nav li {
    display: inline;
    margin-right: 38px;
    font-size: 25px;
    padding: 35px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 20px;
}
.button {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-decoration: none;
}

#login-btn {
    display: block;
    position: relative;
    background-color: #267631;
    box-shadow: 0px 2px 16px rgba(168, 255, 151, 0.864);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    text-align: center;
    margin: 70px 10px 5px auto;
    cursor: pointer;
    top: -115px;
    right: 25px;
    text-decoration: none;
    transition:
    transform 0.15s ease-out, 
    color 0.95s ease-out,
    background-color 0.15s ease-out;
}

        #login-btn:hover {
            background-color: #45a049;
            box-shadow: 0px 2px 25px rgba(168, 255, 151, 0.733);
            color: #ffffff;
        }
        
.hero {
    background-image: url('./img/Bg_header0001.jpg');
    background-size: contain;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px;
    padding: 325px;
    max-height: 248px;
    height: 2px;
    max-width: 30%;
    text-align: center;
}

.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.news {
    margin-top: 30px;
}

article {
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
}

footer {
    background-color: #111a36;
    color: #060a16;
    text-align: center;
    padding: 10px;
}

.PartenaireOfficiel {
    background: #ffffff;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 80px;
    justify-content: center;
}
    .title-Partenaire{
        margin-right: 46rem;
        color:  #ebff00;
        display: flex;
        position: absolute;
    }

.FollowUs{
    background: #060a16;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .follow-title{
        color:  #ebff00;
    }

.juridique{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .juridique-title{
        color:  #ebff00;
    }

.OthersWebSite{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
}
.OthersWebSite-title{
    color:  #ebff00;
}

img{
    display: flex;
    position: relative;
    height: 120px;
    width: 120px;
    max-height: 120px;
    max-width: 120px;
}

nav ul, li {
    color:  #ebff00;
}

container-Juridique{
    color:  #ebff00;
}









@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*{
  box-sizing: border-box;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
font-family: "Roboto","Arial",sans-serif;
  color: #000;
  line-height: normal;
}

#backtotop {
    background: url(./img/backtotop.png) no-repeat center center;
    border: 0;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 70px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 70px;
    z-index: 1;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #le_bouton {
    position: fixed;
    top: 00px;
    left: 30px;
 }