*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
}
.banner-container {
    background-image: url('/img/bannerTennisclub361.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.banner-content{
    /* background-color: #728675; */
    height: 300px;
    width: 100%;
    color: #00000000;
}
.banner {
    background-image: url('/img/SBTennis_banner.png');
    background-size: cover;
    height: 200px;
    margin-top: -250px;
}
.sidebar {
    background-color: #c07300;
    text-align: center;
    padding: 0px 0px;
    padding: 17px;
    justify-content: center;
    font-size: 60px;
    height: 25px;
    width: 1400px;
    max-width: 100%;
    border: #000 solid;
    border-width: 2px 0px 2px 0px;
    line-height: 0px;
    text-align: center;
    margin-top: 134px;
  }
  .sidebar-btn {
    background-color: #c07300;
    color: #000000;
    padding: 13px 13px 23px 13px;
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    margin-top: 47px;
  }

nav li {
    display: inline flow-root list-item;
    margin-right: 50px;
    font-size: 25px;
} 

nav a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 20px;
}
.button {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-decoration: none;
}


h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

#login-btn {
    display: block;
    position: relative;
    background-color: #267631;
    box-shadow: 0px 2px 16px rgba(168, 255, 151, 0.864);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    text-align: center;
    margin: 70px 10px 5px auto;
    cursor: pointer;
    top: -95px;
    right: 25px;
    text-decoration: none;
    transition:
    transform 0.15s ease-out, 
    color 0.95s ease-out,
    background-color 0.15s ease-out;
}

        #login-btn:hover {
            background-color: #45a049;
            box-shadow: 0px 2px 25px rgba(168, 255, 151, 0.733);
            color: #ffffff;
        }
        

 /*   >>>>>>>>>>>>>>>>>>> Connexion page <<<<<<<<<<<<<  */

 .user-panel{
    height: 600px;
    width: 1400px;
    color: #ffffff;
    background-color: #304736;
    margin-right: 20px;
 }
 .news{
    height: 50px;
    width: 1400px;
    background-color: #304736;
 }
 .login-form{
    position: relative;
    height: 50px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px;
 }
 .user-content{
    position: relative;
    height: 200px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px; 
 }
 section .login-form {
    height: 50px;
    width: 1400px;
    color: #ffffff;
    background-color: yellowgreen;
 } 

 /*   >>>>>>>>>>>>>>>>>>> Connexion page <<<<<<<<<<<<<  */


footer {
    background-color: #111a36;
    color: #060a16;
    text-align: center;
    padding: 10px;
}

.PartenaireOfficiel {
    background: #ffffff;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 80px;
    justify-content: center;
}
    .title-Partenaire{
        margin-right: 46rem;
        color:  #ebff00;
        display: flex;
        position: absolute;
    }

.FollowUs{
    background: #060a16;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .follow-title{
        color:  #ebff00;
    }

.juridique{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
    max-height: None;
    max-width: 300px;
}
    .juridique-title{
        color:  #ebff00;
    }

.OthersWebSite{
    background: #000000;
    padding: 48px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 90px;
    justify-content: center;
}
.OthersWebSite-title{
    color:  #ebff00;
}

img{
    display: flex;
    position: relative;
    height: 120px;
    width: 120px;
    max-height: 120px;
    max-width: 120px;
}

nav ul, li {
    color:  #ebff00;
}

container-Juridique{
    color:  #ebff00;
}









@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*{
  box-sizing: border-box;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
font-family: "Roboto","Arial",sans-serif;
  color: #000;
  line-height: normal;
}

#backtotop {
    background: url(./img/backtotop.png) no-repeat center center;
    border: 0;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 70px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 70px;
    z-index: 1;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #le_bouton {
    position: fixed;
    top: 00px;
    left: 30px;
 }

 /*   >>>>>>>>>>>>>>>>>>> Connexion page <<<<<<<<<<<<<  */

 .user-panel{
    height: 600px;
    width: 1400px;
    color: #ffffff;
    background-color: #304736;
    margin-right: 20px;
 }
 .news{
    height: 50px;
    width: 1400px;
    background-color: #304736;
 }
 .login-form{
    position: relative;
    height: 50px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px;
 }
 .user-content{
    position: relative;
    height: 200px;
    width: 1400px;
    color: #ffffff;
    margin-left: 0px; 
 }
 section .login-form {
    height: 50px;
    width: 1400px;
    color: #ffffff;
    background-color: yellowgreen;
 } 